Package               Version
--------------------- ---------
Django                4.1.7
django-cors-headers   3.14.0
django-storages       1.13.2
django-webpack-loader 0.2.4
djangorestframework   3.3.2
optional-django       0.3.0
pip                   23.0.1
webpack               6.0.0
python                3.11.2
react                 18.2.0
